*{ 
margin: 0%;
padding: 0%; 
box-sizing: border-box;
color: #333333;
font size: 16px;
font font-family: Arial,sans-serif;
}
form {
width: fit-content;
max-width: max-content;
padding: 10px;
margin-bottom: 1rem;
background-color: #e1bee7;
border: 3px groove;}